@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
  margin:0;
  padding:0;
}
body{
   background: lightgray;
   font-family: "Outfit",sans-serif,;
}
.nav-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background: green;
  border-radius:none;
  padding:0;
  margin:0;
  
  box-sizing:border-box;
}
.nav-header p{
    font-size:100;
    font-weight:500;
}
  /* Section under the nav search tab on the top*/
.nav-search-tab{
display:flex;
align-items:center;
background:white;
border-radius:20px;
padding:8px;
width:100%;
max-width: 400px;
 border:none;
}

.nav-search-tab input {

    font-size:16px;       /* text size */
    font-weight:500;      /* thickness */
    font-family:Arial;    /* font */
    align-items: center;
    border:none;
    outline:none;
    flex:1;

    
}
.nav-search-tab img{
    margin-right:auto;
    display:flex;
}

/* Toy product other collection*/
.Toy-Packages-Collection{
  display:flex;
  justify-content: space-between;
  padding:20px;
  overflow-x: auto;
    scrollbar-width:none;
}
/* Individual card */
.product-card{
    min-width:250px;

 background:#fff;
flex-shrink:0;
    border-radius:10px;

    padding:15px;
}

.Toy-Packages-Collection::-webkit-scrollbar{
    display:none;
}
